@model HoldIt.Models.User

@{
    ViewBag.Title = "index";
}

<h2>index</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
